<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hello World
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hello World</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>What is your name?</strong>
    <br>
    <ion-input type="text" placeholder="Enter your name is here" (input)="onInput($event)"></ion-input>
    <br>
    <ion-button (click)="showAlert()">Submit</ion-button>
  </div>
</ion-content>